.wiki-result {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wiki-item {
  margin: 20px;
  padding: 50px;
  background-color: rgb(78, 0, 0);
  width: 550px;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid black;
}

.wiki-item-content {
  display: flex;
}

.wiki-item-content img {
  width: 125px;
}

.wiki-item-infos {
  display: flex;
  align-items: center;
  margin-left: 90px;
}

.wiki-item-infos ul {
  list-style: none;
}

.wiki-item-button {
  display:flex;
  justify-content: center;
  position: relative;
  top: 30px;
}

.wiki-item-button a {
  color:black;
  font-size: 14px;
}

.wiki-item-button a:hover {
  font-size:15px;
  color: #6587ba;
}